<main>
  <div class="user-card">
    <div class="user">
      <img src="../assets/images/image-jeremy.png" alt="Jeremy's photo" />
      <p>Report for</p>
      <h1>Jeremy Robson</h1>
    </div>
    <div class="options">
      <ul>
        <li id="daily" (click)="onOptionClick('daily')">Daily</li>
        <li id="weekly" (click)="onOptionClick('weekly')">Weekly</li>
        <li id="monthly" (click)="onOptionClick('monthly')">Monthly</li>
      </ul>
    </div>
  </div>

  <ng-container *ngFor="let item of data">
    <div class="{{ item.title | lowercase | replace: ' ':'-' }}">
      <div class="{{ item.title | lowercase | replace: ' ':'-' }}-img"></div>
      <div class="content">
        <div class="card-header">
          {{ item.title }}
          <span><img src="../assets/images/icon-ellipsis.svg" /></span>
        </div>
        <div *ngIf="optionSelected === 'daily'">
          <h1>{{ item.timeframes.daily.current }}hrs</h1>
          <p>Yesterday - {{ item.timeframes.daily.previous }}hrs</p>
        </div>
        <div *ngIf="optionSelected === 'weekly'">
          <h1>{{ item.timeframes.weekly.current }}hrs</h1>
          <p>Last week - {{ item.timeframes.weekly.previous }}hrs</p>
        </div>
        <div *ngIf="optionSelected === 'monthly'">
          <h1>{{ item.timeframes.monthly.current }}hrs</h1>
          <p>Last month - {{ item.timeframes.monthly.previous }}hrs</p>
        </div>
      </div>
    </div>
  </ng-container>
</main>
